@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveBackground {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.header-bg {
  animation: moveBackground 100s linear infinite;
}

.maincontainer {
  position: absolute;
  width: 350px;
  height: 320px;
  background: none;
  transform: translate(-50%, -50%);

}

.thecard {
  transition: all 0.8s ease;
  background: none;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  background: none;

}

.theback {
  position: absolute;
  transform: rotateY(180deg);
  background: none;

}

img {
  width: 350px;
  height: 320px;
}