@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveBackground {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%;
    }
  }
  
  .header-bg {
    animation: moveBackground 110s linear infinite;
  }

.flip-card {
  width: 15rem;
  height: 15rem;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(-180deg);
}

  
  
  
  
  